Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored in a computer system. Databases are designed to efficiently store, retrieve, and manage data, making it easy to perform various operations on the data, such as querying, updating, and deleting. Databases are an essential component of most software applications and are used to store information ranging from simple lists to complex, interconnected datasets.

SQL (Structured Query Language) Databases:

i)SQL databases are relational databases that use structured tables to store data.


ii)They follow a fixed schema, meaning the structure of the data is defined in advance with a specified schema that includes tables, columns, and relationships between tables.


iii)SQL databases are typically used for applications where data consistency, transactional integrity, and complex querying are essential, such as banking systems and e-commerce platforms.


iv)Examples of SQL databases include MySQL, PostgreSQL, Oracle Database, and Microsoft SQL Server.

NoSQL (Not Only SQL) Databases:

i)NoSQL databases are non-relational databases that offer more flexibility in data storage and retrieval.


ii)They do not require a fixed schema and can handle unstructured or semi-structured data.


iii)NoSQL databases are often used for applications that involve large volumes of data, real-time data, and scalability, such as social media platforms, content management systems, and big data applications.


iv)There are different types of NoSQL databases, including document-oriented, key-value, column-family, and graph databases.


v)Examples of NoSQL databases include MongoDB, Cassandra, Redis, and Neo4j.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL (Structured Query Language) that is used to define, manage, and manipulate the structure of a database. DDL statements are responsible for creating, altering, and deleting database objects such as tables, indexes, and constraints. These statements allow database administrators and developers to define the schema of the database and specify how data should be organized.

CREATE: The CREATE statement is used to create new database objects, such as tables, indexes, or views.
 
CREATE TABLE EMPLOYEE(EID INT PRIMARY KEY,
                      ENAME VARCHAR(40),
                      SAL NUMBER,
                      HIRE_DATE DATE);

DROP: The DROP statement is used to delete existing database objects, such as tables, indexes, or views.

DROP TABLE EMPLOYEE;

ALTER: The ALTER statement is used to modify the structure of an existing database object, such as adding, modifying, or deleting columns in a table.

ALTER TABLE EMPLOYEE ADD COLUMN EMAIL VARCHAR(100);

TRUNCATE: The TRUNCATE statement is used to remove all rows from a table while retaining the table structure. It is faster than the DELETE statement, as it does not log individual row deletions.

TRUNCATE TABLE EMPLOYEE;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL (Structured Query Language) used to manipulate data stored in a database. DML statements are responsible for inserting, updating, and deleting data within database tables. These statements allow you to perform various operations on the data, ensuring that it remains accurate and up-to-date.

INSERT: The INSERT statement is used to add new rows of data into a database table.

INSERT INTO EMPLOYEE VALUES(101,'AMAR',90000,'20-SEPT-2023');

UPDATE: The UPDATE statement is used to modify existing data in a database table.

UPDATE EMPLOYEE
SET SAL=SAL+4000
WHERE EID=101;

DELETE: The DELETE statement is used to remove rows from a database table based on specified conditions.

DELETE FROM EMPLOYEE
WHERE EID=102;

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL (Structured Query Language) used to retrieve and query data from a database. DQL statements are responsible for querying one or more database tables to fetch specific data based on specified criteria. The primary DQL statement is the SELECT statement, which allows you to retrieve data from one or more tables.

SELECT: 

The SELECT statement is used to retrieve data from one or more tables in a database.

It allows you to specify which columns to retrieve, the table from which to retrieve data, and optional conditions to filter the data.

SELECT * FROM EMPLOYEE;

Q5. Explain Primary Key and Foreign Key.

Primary Key:

i)A Primary Key is a column or set of columns in a relational database table that uniquely identifies each row or record in that table.


ii)It enforces the entity integrity constraint, ensuring that each record in the table is unique.


iii)Primary keys are used to identify records and establish relationships between tables in a database.


iv)Primary keys must contain unique values (no duplicates) and cannot contain NULL values.


v)Typically, a primary key is created using one or more columns that uniquely identify each row.

CREATE TABLE STUDENTS(SID NUMBER PRIMARY KEY, FIRST_NAME VARCHAR(30), LAST_NAME VARCHAR(40), BIRTH_DATE DATE);

Foreign Key:

i)A Foreign Key is a column or set of columns in a database table that establishes a link between data in two tables.

ii)It enforces referential integrity, ensuring that the data in the foreign key column(s) corresponds to the values in the primary key column(s) of another table.


iii)Foreign keys are used to create relationships between tables, defining how data in one table relates to data in another table.

iv)They help maintain data consistency and integrity by preventing actions that would lead to orphaned or inconsistent data.


v)Foreign keys are often used to implement one-to-many or many-to-one relationships between tables.

CREATE TABLE students (
    student_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50)
);

CREATE TABLE courses (
    course_id INT PRIMARY KEY,
    course_name VARCHAR(100),
    student_id INT,
    FOREIGN KEY (student_id) REFERENCES students(student_id)
);

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector


db_config = {
    "host": "localhost",       
    "user": "your_username",   
    "password": "your_password",  
    "database": "your_database"   
}

try:
    connection = mysql.connector.connect(**db_config)
    cursor = connection.cursor()
    cursor.execute("SELECT * FROM employees") 

    results = cursor.fetchall()
    for row in results:
        print(row)

    
    cursor.close()
    connection.close()

except mysql.connector.Error as err:
    print("Error:", err)

The cursor() method creates a cursor object that acts as a pointer to a specific location in the database. The execute() method is used to send SQL queries to the database for execution.

Q7. Give the order of execution of SQL clauses in an SQL query.

FROM Clause:
The FROM clause specifies the tables or data sources from which you want to retrieve data. It identifies the primary source of data for the query.

JOIN Clause (if applicable):
If you need to combine data from multiple tables, you can use the JOIN clause to specify how the tables are related and how the data should be joined.

WHERE Clause:
The WHERE clause is used to filter rows from the tables specified in the FROM clause. It defines the conditions that must be met for a row to be included in the result set.

GROUP BY Clause (if applicable):
The GROUP BY clause is used to group rows with similar values in one or more columns into summary rows. It is often followed by aggregate functions like SUM, COUNT, or AVG.

HAVING Clause (if applicable):
The HAVING clause is used to filter groups generated by the GROUP BY clause based on aggregate function results.

SELECT Clause:
The SELECT clause specifies the columns you want to retrieve in the result set. It can include expressions, calculations, and aliases.

DISTINCT Keyword (if applicable):
The DISTINCT keyword is used to remove duplicate rows from the result set, ensuring that only unique rows are returned.

ORDER BY Clause (if applicable):
The ORDER BY clause is used to sort the result set based on one or more columns. It specifies the sorting order, such as ascending (ASC) or descending (DESC).

LIMIT/OFFSET Clause (if applicable):
The LIMIT clause is used to restrict the number of rows returned in the result set. It is often used in conjunction with the OFFSET clause to implement pagination.

UNION/INTERSECT/EXCEPT (if applicable):
If you are combining the results of multiple queries, you can use UNION, INTERSECT, or EXCEPT operators to merge and deduplicate rows from different queries.