Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_data = sorted(data, key=lambda x: x[1])

for name, value in sorted_data:
    print(f'{name}: {value}')

Virat Kohli: 24936
Jack Kallis: 25534
Ricky Ponting: 27483
Sachin Tendulkar: 34357

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
l1=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:x**2,l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [4]:
s4=[1,2,3,4,5,6,7,8,9,10]
tuple(map(lambda x:str(x),s4))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [10]:
l5=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [13]:

from functools import reduce
reduce(lambda x,y:x*y,l5)

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [20]:
l6=[2,3,6,9,27,60,90,120,55,46]

In [25]:
def div(n):
     return n % 2 == 0 and n % 3 == 0

In [26]:
filtered_numbers = list(filter(div, l6))

print("Numbers divisible by 2 and 3:", filtered_numbers)

Numbers divisible by 2 and 3: [6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [27]:
l7=['python','php','aba','radar','level']

In [ ]:
palindromes=list(filter(lambda l7:l7==l7[::-1],