Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

Answer)

In [1]:
a="Amar"
b=[2,3,4,2+3j,"amar",2.3]
c=3.9
d=(2,3,4)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1

What will be the data type of the above given variable.

Answer)

In [6]:
var1=' '
var2='[DS,ML,Python]'
var3=['DS','ML','Python']
var4=1.
type(var1)

str

In [7]:
type(var2)

str

In [8]:
type(var3)

list

In [9]:
type(var4)

float

Q3)Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **
Answer)

In [10]:
a=5
b=2
print(a/b)
print(a%b)
print(a//b)
print(a**b)

2.5
1
2
25

Q4)Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

Answer)

In [11]:
l=[1,2,3,4,['a','b'],'a',2+3j,2.5,(1,2,3),{2,3}]

In [14]:
for i in range(len(l)):
    print(l[i])

1
2
3
4
['a', 'b']
a
(2+3j)
2.5
(1, 2, 3)
{2, 3}

Q5)Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
Answer)

In [1]:
a=int(input("Enter a number"))
b=int(input("Enter another number"))
count=0
while a%b==0:
    a=a//b
    count+=1
if count>0:
    print(f"{a} can be divided by {b} {count} times.")
else:
    print(f"{a} cannot be divided by {b}")

Enter a number 4
Enter another number 2

1 can be divided by 2 2 times.

Q6) Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.
Answer)

In [7]:
l3=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l3:
    if i%3==0:
        print(f"{i} is divisble by 3")
    else:
        print(f"{i} is not divisble by 3")

1 is not divisble by 3
2 is not divisble by 3
3 is divisble by 3
4 is not divisble by 3
5 is not divisble by 3
6 is divisble by 3
7 is not divisble by 3
8 is not divisble by 3
9 is divisble by 3
10 is not divisble by 3
11 is not divisble by 3
12 is divisble by 3
13 is not divisble by 3
14 is not divisble by 3
15 is divisble by 3
16 is not divisble by 3
17 is not divisble by 3
18 is divisble by 3
19 is not divisble by 3
20 is not divisble by 3
21 is divisble by 3
22 is not divisble by 3
23 is not divisble by 3
24 is divisble by 3
25 is not divisble by 3

Q7)What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Answer)

A mutable data type is that data type which can be modified after creation without changing its identity .List dictionaries 
and sets are example of this.The memory location does not changes.

An immutable data type is that data type which cannot be modified after its creation to modify it we need to overwrite its memory location.
Strings ,Tuples etc are example of it.

Example for mutable data type

In [9]:
list=[1,2,3]

In [10]:
list.append(5)

In [11]:
list

[1, 2, 3, 5]

Example for immutable data type

In [1]:
s1='amar'

In [3]:
s1[0]='a'

TypeError: 'str' object does not support item assignment